<div class="container">

	<div class="suggestion">
	    <h2> {{ post.title }} </h2>
	</div>
	
	<div class="comment" ng-repeat="comment in post.comments">
	    <h1> {{ comment.body }} </h1>
	    <p>
	        <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span>
	    </p>
	    <hr>
	</div>

</div>
	
<div class="container">
	<hr class="style1">
    <form ng-submit="addComment()" style="margin-top: 50px">
        <h4> Submit Your Comment </h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Insert Comment Here" ng-model="body">
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
</div>