body {
	background-color: #000000;
	color: #8f8f8f;
}

.header {
	background-color: #000000;
	align: center;
	text-align: center;
	color: #3498DB;
	font-family: papyrus;
	letter-spacing: 10px;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding-top: 10px;
}

.footer {
	background-color: #000000;
	align: left;
	padding: 10px;
	z-index: 1;
	width: 100%;
	display: inline-block;
}

.logo {
	display: inline-block;
	vertical-align: bottom;
}

h1 {
	font-size: 60px;
}

h2 {
	color: #ffffff;
	font-family: geneva;
}

h4 {
	color: #ffffff;
}

.upvotes {
	color: #fff37a;
}

.glyphicon {
	color: #fff37a;
}

a {
	color: #3db7e2;
}

hr.style1 {
	border-top:3px double #ffffff;
}

.main {
	padding-top: 150px;
	padding-bottom: 150px;
	z-index: 0;
}